/* Styling */

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #dddddd;
    color:#3631F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font-family, 'Roboto', sans-serif;
    font-size: 30pt;
    text-align: center;
}

header {
    text-align: center;
}

/* Hero */

#hero, footer {
    background-color: #afafaf;
    border: 2px solid #3631F0;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

#hero img {
    width: 250px;
    box-shadow: 4px 4px 4px gray;
}

/* Bio */

#bio {
    text-align: center;
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}

/* Hobbies */

#myhobbies {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}

/* Gallery */

#gallery {
    border: 2px solid;
    border-radius: 10px;
}

#gallery img {
    max-width: 100%;
    width: 640px;
    padding: 0px;
    box-shadow: 4px 4px 4px gray;
}

#gallery figure {
    text-align: center;
    transition-duration: .8s;
}

#gallery figure:hover {
    transform: scale(1.10);
    transition-duration: .8s;
} 

figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    margin-left: 1rem;
}

/* Video */

#video iframe {
    max-width: 100%;
    box-shadow: 4px 4px 4px gray;
}

/* Article */

article p:first-child::first-letter {
    font-size: 400%;
    border: 1px solid #3631F0;
    background-color: #cecece;
    box-shadow: 1px 1px 1px gray;
    padding-left:.3ex;
    padding-right:.3ex;
    float: left;
    margin:.2ex;
    border-radius: 10px;

    color: #3631F0;
    /* background-color: azure; */
    font-family: 'Merriweather Sans', sans-serif;
}

article p {
    clear:both;
}

#article div {
    max-width:100%;
    columns: 30rem;
}

/* Demo */

#demo img {
    max-width: 100%;
    width: 500px;
    padding: 0px;
    box-shadow: 4px 4px 4px gray;

    /* upside down state */
    transform: rotate(180deg);

        /* grayscale */
	filter: grayscale(80%);
	transition: .8s ease-in-out;
}

#demo figure {
    text-align: center;
    

}

#demo img:hover {
    transition-duration: .8s;

    transform: rotate(0deg);

    filter: grayscale(0);
} 

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
    border-radius: 10px;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact input[type="submit"] {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #3631F0;
    color: white;
    max-width: 100%;
    width: 150px;
    justify-self: center;
    margin-left:auto;
    margin-right:auto;
}

fieldset {
    border: 2px solid;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

legend {
    background-color: #3631F0;
    color: white;
    padding: .5rem;
    border-radius: 10px;
}

/* Tablet State */

@media screen and (min-width: 960px){

    #gallery{
        display: block;
    }  

    #gallery figure {
        display:grid;
        grid-template-columns:2fr 1fr;
    }
}

/* Large Screen Size */

@media screen and (min-width: 80em) {

    hr{
        display: none;
    }
    
    #gallery {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    #gallery figure{
        display: block;
    }
}
